@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-audiowide);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

/* styles/globals.css o styles/fonts.css */

@font-face {
  font-family: 'Cilogie';
  src: url('/fonts/Cilogie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ferro Rosso';
  src: url('/fonts/FerroRosso.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1 {
  font-family: 'Ferro Rosso';
}

h2 {
  font-family: 'Cilogie';
}
